* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
       
}

body {
   font-family: 'Lato',sans-serif;
   background-color: rgb(34, 34, 34);
   color: white;

   max-width: 1200px;
   margin: 0 auto;
   padding: 15px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar #link-1{
    color:rgb(132,  14, 221) ;
}

.navbar #link-1:hover{
    color: white;
    transition: 0.3 all;
}

.navbar a {
    color: white;
}

.navbar a:hover {
    color:rgb(132, 14, 221);
    transition: 0.3 all;

}


.title {
    flex-direction: column;
}

li {
    display: inline-block;
    flex-direction: row;
    margin: 20px;

}

.title h1 {
    font-weight: 200;
}

main div{
    display: flex;
    flex-direction: row;
    margin-top: 50px;


}

h2 {
    font-size: 50px;
    
}

span {
    color: rgb(132, 14, 201);
}

p {
    line-height: 20px;
    max-width: 500px;
}

#imagem-1 {
    width: 560px;
}

#button-increva-se {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
}

#button-increva-se:hover {
    border: 2px solid white;

    color: white;
    background-color: rgb(132,  14, 221);
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 20px;
}

input {
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 15px;
}


button {
    height: 40px;
    width: 50%;
    margin-top: 20px;
    border-radius: 10px;
    border: none;
    background-color: rgb(132, 14, 221);
    color: white;
    font-weight: bold;
}

button:hover{
    cursor: pointer;
    opacity: 0.6;

}


